<div class="mainContainer">
    <div class="homeContainer">
    	<div>
            <span class="topbar">
                <span>
                    <a href="/signup" class="btn-default signup">Signup</a>
                    <a href="/login" class="btn-default login">Login</a>
                </span>
            </span>	 
    	</div>
    	<div class="heroText">
    		<div class="bg">
    		<h3>Metro Valley Kickball League</h3>
    		<span class="subTitle">
    			Metro Valley Kickball League is about love of the game; The league is about seeking out tougher competition. 
    			We love kickball and everything it has to offer. 
    			Metro Valley Kickball League offers the valley’s most competitive teams and players 
    			a setting where they can showcase their hard work and talent and be 
    			rewarded for the time and effort that they have invested in the sport they love so much.
    		</span>
    		</div>
    	{{!-- 	<button>Button</button> --}}
    	</div>
	</div>
	<div class="homeFooter">
		<h3>Follow us on Social Media</h3>
		<span class="subTitle">We love to see your comments</span>
		<div class="subFooter">
			<div>Facebook
				<span class="icon-facebook icon"></span>
			</div>
			<div>Instagram
				<span class="icon-instagram icon"></span>
			</div>
			<div>Twitter
				<span class="icon-twitter icon"></span>
			</div>
		</div>
	</div>	

</div>