/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(https://fonts.googleapis.com/css?family=Audiowide);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800);
@import url(/css/fontello.css);

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}



html,body{
  height:100%;
}

strong{
  font-weight:600;
}

.container{
  height:100%;
  width:100%;
  font-family: 'Open Sans', sans-serif;
}

header{
  display: block;
  height:60px;
  line-height:40px;
  width:100%;
  border-bottom:solid 1px #ccc;
}

header span{
  float:right;
  display: inline-block;
  padding-right: 40px;
  padding-top:10px;
}


.greeting{
  display:inline-block;
  font-family: 'Audiowide', cursive;
  padding-right:30px;
  float:none;
}

.hello{
  padding:0;
  float:right;
}

.logout{
  float:none !important;
  float:right;
  font-family: 'Audiowide', cursive;
}

.greeting:after{
  clear:both
}

nav{
  background:#34bee7;
  width:200px;
  float:left;
  height:100%;
  display: table-cell;
}

nav ul{

}

nav li{
  line-height:30px;
  border-bottom:solid 1px #eee;
  font-size:22px
}

nav li:hover{

}

nav ul li a:hover{
 /* background:#3B4267;*/
}

nav a{
  color:#eee;
  font-family: 'Audiowide', cursive;
  letter-spacing: 2px;
  text-decoration: none;
  display:block;
  padding:5px 5px 5px 20px;
}

/*///////////////////////////////////////////////////////////////
    User signup login profile
//////////////////////////////////////////////////////////////*/
.content{
  width:auto;
  overflow: hidden;
  margin-top:20px;
}

.contentBox{
  background:#34bee7;
  border:solid 1px #ccc;
  width:90%;
  overflow: hidden;
  margin:0 auto;
  border-radius:6px;
  min-height:200px;
  padding:20px;

}

.profileInfo{ 
  font-size:22px; 
  line-height:30px;
  padding:0 20px;
}
.clear{
  clear:both;
  display: block
}

.profileInfo p{ 
  border-bottom:dotted 1px;
  padding:5px 0;
  font-family: 'Audiowide', cursive;
  letter-spacing: 2px;

}

.hide{
  display:none;
}

.userPhoto{
  text-align: center;
}

/*.signup-pic {
  width: 75px;
  height: 75px;
  float: right;
  margin-right: 375px;
  background-color: orange;
}*/

.userPhoto img{
  display: block;
  margin-bottom: 10px;
}

.photoForm{
  text-align: left;
  width: 200px;
  overflow: hidden;
}


.pimage{
    position: relative;
    float: left;
    width:  150px;
    height: 150px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}
  

.player {
    padding: 20px;
    border: 1px solid rgb(238, 238, 238);
    margin: 10px 0px;
}

.info{
  padding:0 20px;
  border-right:solid 1px #eee;
  flex-grow: 1;
  flex-basis: 0;
}

.info:last-child{
  border:none;
}

.info h4{
  font-weight:600;
  font-size:18px;
  margin-bottom: 15px;
  font-family: 'Audiowide', cursive;
  letter-spacing: 2px;
}

a.btn-default{
  display: inline-block;
  background:#ddd;
  color: white;
  padding: 6px 12px 8px 12px;
  /*border: solid 2px, 1px, 2px, 1px black;*/
  font-size:14px;
  border-radius: 6px;
  box-shadow: 3px 2px 0px #000000;
  line-height: 12px;
 
  /*margin-left:15px;*/
}

a.btn-default.login {
  float: right; 
  margin-left: 30px;
  font-family: 'Audiowide', cursive;
 
}

a.btn-default.signup {
  float: right;
  background-color: #34bee7;
  margin-left: 20px;
  font-family: 'Audiowide', cursive;
  
}

h1.title {
  font-size: 24px;
  font-weight: 700;
  margin-left: 46px;
  margin-bottom: 20px;
  font-family: 'Audiowide', cursive;
  letter-spacing: 2px;
  color: #34bee7;;
}

.profileContent{
  display:flex;
}

.editProfile {
    padding: 0px 20px;
}

.flexedit{
  display: flex
}


input {
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid rgb(153, 153, 153);
  padding: 8px;
}

.editProfile input[type="text"] {
  margin-bottom:20px;
}

.editProfile textarea {
  border:solid 1px #999;
  width:200px;
  font-size:16px;
  }

.editProfile label{
  display: block;
  font-weight:600;
  padding-bottom:10px;
  font-family: 'Audiowide', cursive;
}

.buttongroup{
  margin-top:20px;
}

.loginContainer, .signupContainer {
    text-align: center;
    padding: 40px;
}

.signupContainer div{
  text-align: left
}

.loginContainer button {
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #999;
    padding: 8px;
}


.form-group{
  margin-bottom:15px;
  /*display: block !important;*/
  display: flex;
  /*background-color: red;*/
}

.foo {
  flex:; 
  /*background: blue;*/
  font-family: 'Audiowide', cursive;
  letter-spacing: 2px;
  color: white;
  text-shadow:5px 4px 10px #000000;
}
.bar {
  flex:1;
  width: 150px;
 /* background-color: yellow;*/
  /*font-family: 'Audiowide', cursive;*/
  color: white;
  ttext-shadow:5px 4px 10px #000000;
}

.foobar {
  font-family: 'Audiowide', cursive;
  color: white;
  text-shadow:5px 4px 10px #000000;
}

.btn.btn-warning.btn-lg {
  font-size: 15px;
  font-family: 'Audiowide', cursive;
  border-radius: 5px;
  border-top: solid 1px black;
  text-shadow:5px 4px 10px #000000;
  color: white;
}

.signup-bio {
  resize: none;
  width: 340px;
  height: 100px;
  margin-top: 20px;
}

/*//////////////////////////////////////////////////////
    Home Page
//////////////////////////////////////////////////////*/

.mainContainer{
  margin:0 auto;
  height:550px;
}
.homeContainer{
  background:url('../images/hero.jpg');
  background-size:cover;
  height:550px;
  background-repeat: no-repeat;
  margin:0 auto;
}

.topbar {
  float: right;
  margin-right: 100px;
  margin-top: 20px;
}
.topbar a {
  color: white;
}

/*.home-signup {
  background: #34bee7 ;
  border-radius: 6px;
  font-size: 20px;
  border-radius: 6px;
  box-shadow: 3px 2px 0px #000000;
  float: right;
  margin-left: 20px;
  margin-right: 50px;
}

.home-login {
  border-radius: 6px;
  font-size: 20px;
  border-radius: 6px;
  box-shadow: 3px 2px 0px #000000;
  float: right;
  margin-left: 30px;
}*/

.homeFooter{
  background:#34bee7;
  color:#fff;
  text-align: center;
  padding:20px;
  font-family: 'Audiowide', cursive;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}

.homeFooter h3{
  font-size: 24px;
  margin:0 0 5px 0;

}

.subTitle{
  font-size: 16px;

}

.subFooter{
  display: flex; 
  padding-top:20px;
}

.subFooter div{
  margin: 0 auto;
  width:33%;
  border:solid 1px;
  padding:20px;
}


.heroText {
    color:#333;
    width: 45%;
    padding: 200px 30px 30px 30px;
    font-family: 'Audiowide', cursive;
    letter-spacing: 5px;
    color: white;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}

.heroText h3{
    font-size:30px;
    margin:0 0 10px 0;
    font-weight:bold;
  }

.heroText button{
  display:block;
  margin:15px 0 15px 0;
  background:green;
  border:none;
  padding:8px;
  border-radius: 3px;
}
/*////////////////////////////////////////////////
leauges page
///////////////////////////////////////////////*/
.flexmap {
  display: flex;
  float: right;
  width: 100%;
  height: 400px;
}

.flexmap a {
  color: white;
}

.league-img {
  flex:2 ;
  /*float: right;*/
  width:  300px;
  height: 350px;
  background: white;
  background:url('../images/game.jpg');
  background-size: cover;
}


#map-canvas {
  flex: 2;
  height: 350px;
  /*float: right;*/
  /*top: 135px;
  right: 50px;*/
}

